# Created by .ignore support plugin (hsz.mobi)
.gitignore
build/android-profile/
build/intermediates/dex-cache/
wallet/build/generated/assets/
wallet/build/generated/res/rs/
wallet/build/generated/source/aidl/
wallet/build/generated/source/apt/
wallet/build/generated/source/r/androidTest/
wallet/build/generated/source/rs/
wallet/build/intermediates/assets/
wallet/build/intermediates/blame/res/androidTest/
wallet/build/intermediates/classes/
wallet/build/intermediates/incremental-classes/
wallet/build/intermediates/incremental-runtime-classes/
wallet/build/intermediates/incremental-safeguard/
wallet/build/intermediates/incremental-verifier/
wallet/build/intermediates/incremental/instantRunDependenciesApkBuilder/
wallet/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
wallet/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
wallet/build/intermediates/incremental/mergeDebugAssets/
wallet/build/intermediates/incremental/mergeDebugJniLibFolders/
wallet/build/intermediates/incremental/mergeDebugResources/aapt-temp/
wallet/build/intermediates/incremental/mergeDebugShaders/
wallet/build/intermediates/incremental/packageDebug/
wallet/build/intermediates/incremental/packageDebugAndroidTest/
wallet/build/intermediates/incremental/packageInstantRunResourcesDebug/
wallet/build/intermediates/incremental/packageRelease/
wallet/build/intermediates/incremental/processDebugAndroidTestResources/
wallet/build/intermediates/incremental/processDebugResources/
wallet/build/intermediates/instant-run-resources/
wallet/build/intermediates/instant-run-support/
wallet/build/intermediates/jniLibs/
wallet/build/intermediates/manifest/tmp/
wallet/build/intermediates/manifests/instant-run/
wallet/build/intermediates/reload-dex/
wallet/build/intermediates/res/merged/androidTest/
wallet/build/intermediates/restart-dex/
wallet/build/intermediates/rs/
wallet/build/intermediates/shaders/
wallet/build/intermediates/split-apk/
wallet/build/intermediates/symbols/androidTest/
wallet/build/intermediates/transforms/
wallet/build/outputs/apk/
wallet/build/tmp/
wallet/src/main/res/values-normal/
